@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Press+Start+2P&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.kirim {
  text-decoration: none;
  color: black;
}

.kirim:hover {
  color: white;
}

a:hover {
  color: whitesmoke;
}

.footer {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: white;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.btn:hover {
  background-color: #1a5f7a;
  font-weight: bold;
  border: none;
  box-shadow: 0 0 30px cyan;
}

.kirim {
  color: black;
}

.kirim:hover {
  color: black;
}

.btn-kirim {
  border: 0px;
  border-radius: 5px;
  width: 90px;
  height: 30px;
  transition: 1s;
}

.btn-kirim:hover {
  border: 1px solid black;
  background-color: #D3DEDC;
  transform: 0.5;
}

a > .btn:hover {
  color: white;
  letter-spacing: 1.5px;
  transition: 1s;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: rgb(255, 251, 2);
}

textarea {
  border: 1px solid black .5;
  border-radius: 7px;
  resize: none;
}

textarea[placeholder]{
  padding-left: 10px;
  padding-top: 10px;
}

textarea:focus {
  background-color: #F6F1F1;
}

.input {
  border-radius: 4px;
  border: 1px solid black .5;
}

.input:focus {
  background-color: #F6F1F1;
}